* {
    font-family: serif;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 677px;
    background: url('../img/header.png') center center/cover no-repeat;
    opacity:50px;
}

.header .menu_wrapper {
    display: flex;
    justify-content: space-between;
    width: 1128px;
    margin: 0 auto;

}

.phone, .brand, .email {
    margin-top: 30px;
}

.contacts { 
    
    padding: 0, 0;
    color:#ffffff;
    text-align:left;
    text-transform: uppercase;
    vertical-align:text-top;
    font-size:14px;
    font-family:RF Dewi Expanded;
} 

.simpletext {
    padding: 0, 0;
    color:#ffffff;
    text-align:left;
    vertical-align:text-top;
    font-size:14px;
    line-height: 8px;
    font-family:Inter;
}

.famfactory {
    color:#ffffff;
    text-align:center;
    font-size:25px;
    line-height: 10px;
    font-family:RF Dewi Expanded;
    text-transform: uppercase;
}

.famfactory_subheader {
    padding: 0, 0;
    margin-top: 0;
    color:#ffffff;
    text-align:center;
    vertical-align:text-top;
    font-size:16px;
    line-height: 8px;
    font-family:RF Dewi;
}

.title {
    margin-top: 214px;
    color:#ffffff;
    text-align:center;
    font-size:60px;
    font-family:RF Dewi Expanded;
    line-height: 66px;
}


.send_request { 
    display: block;
    margin: 0 auto;
    margin-bottom: 213px;
    background-color:#f4df74;
    height:64px;
    width:265px;
    border-radius:10px;
    color:#353535;
    text-align:center;
    font-size:16px;
    font-family:RF Dewi Expanded;
}

.prices {
    min-height: 1167px;
}

.headline {
    color:#191919;
    text-align:center;
    font-size:48px;
    font-family:RF Dewi Expanded;
    line-height:auto;
}

.prices .simpletext {

}