* {
    font-family: serif;
}

.wrapper-main { 
    width: 100%;
    position: relative;
}


.header {
    height: 677px;
    background: url('../img/header.png') rgba(0,0,0,0.5) center center/cover no-repeat;
    background-blend-mode: overlay;
    opacity:50px;
}

.header .menu_wrapper {
    display: flex;
    justify-content: space-between;
    width: 1128px;
    margin: 0 auto;

}

.phone, .brand, .email {
    margin-top: 30px;
}

.contacts { 
    
    padding: 0, 0;
    color:#ffffff;
    text-align:left;
    text-transform: uppercase;
    vertical-align:text-top;
    font-size:14px;
    font-family:RF Dewi Expanded;
} 

.simpletext {
    padding: 0, 0;
    color:#ffffff;
    text-align:left;
    vertical-align:text-top;
    font-size:14px;
    line-height: 8px;
    font-family:Inter;
}

.famfactory {
    color:#ffffff;
    text-align:center;
    font-size:25px;
    line-height: 10px;
    font-family:RF Dewi Expanded;
    text-transform: uppercase;
}

.famfactory_subheader {
    padding: 0, 0;
    margin-top: 0;
    color:#ffffff;
    text-align:center;
    vertical-align:text-top;
    font-size:16px;
    line-height: 8px;
    font-family:RF Dewi;
}

.title {
    margin-top: 214px;
    color:#ffffff;
    text-align:center;
    font-size:60px;
    font-family:RF Dewi Expanded;
    line-height: 66px;
}


.send_request { 
    display: block;
    margin: 45px auto 213px auto;
    background-color:#f4df74;
    height:64px;
    width:265px;
    border-radius:10px;
    color:#353535;
    text-align:center;
    font-size:16px;
    font-family:RF Dewi Expanded;
}

.prices {
    height: 1568px;
}

.prices .container {

    margin-bottom: 281px;
}

h2.headline {
    color:#191919;
    text-align:center;
    font-size:48px;
    font-family:RF Dewi Expanded;
    line-height:auto;
}

.prices .headline {
    margin-top: 120px;
    
}

.prices .prices_text {
    display: block;
    margin: 0 auto;
    margin-top: 48px;
    width: 738px;
    color:#191919;
    text-align:center;
    font-size:16px;
    font-family:Inter;
    line-height:auto;
}

.row {
    margin: 0 auto;
    margin-top: 88px;
}

.video_content {
    position: absolute;
    margin: 0 auto;
    top: 2070px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/video.png) center top/cover no-repeat;
    width: 1125px;
    height: 350px;
    border-radius: 15px;
    z-index: 1;
}

.collaboration {
    position: absolute;
    width: 100%;
    top: 2245px;
    min-height: 1211px;
    background-color: #E5E5E5;
    z-index: -1;
}

.collab_title {
    margin-top: 305px;
}

.collab_subtitle {
    width: 738px;
    margin-top: 53px;
    color:#191919;
    text-align:center;
    vertical-align:text-top;
    font-size:16px;
    font-family:Inter;
    line-height:auto;
}